
/* Main */
#main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 90%;
    background-image: url("imgs/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}

/* Dropdowns */
.dropdown {
    overflow: hidden;
    border-radius: 1.5rem;
    margin: 1rem auto;
    width: 90%;
    height: auto;
    max-height: 3rem;
    background-color: #eee;
    color: #444;
    transition: max-height 0.5s ease-in-out;
}
.dropdown.open {
    max-height: 25rem;
    transition: max-height 1s;
}
.dropdown:hover {
    background-color: #ccc;
}

/* Clicker */
.clicker {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding: 1rem 5%;
    border: inherit;
    width: 100%;
    transition: margin 1s;
    font-size: 1rem;
    line-height: 1rem;
    background: inherit;
}
.clicker:hover {
    cursor: pointer;
}
.clicker .title {
    display: inline-block;
    border-radius: inherit;
    width: 70%;
    text-align: left;
}
.clicker .icons {
    float: right;
    width: 30%;
    text-align: right;
}

/* Icons */
.dropdown .fa-plus-square{
    display: unset;
}
.dropdown .fa-minus-square {
    display: none;
}
.dropdown.open .fa-plus-square{
    display: none;
}
.dropdown.open .fa-minus-square {
    display: unset;
}

/* Contents */
.contents {
    padding: 2rem;
    list-style: none;
}
.content {
    padding-bottom: 0.5rem;
    text-align: justify;
}
.content h4 {
    font-size: 22px;
}
.content p {
    font-size: 20px;
    text-indent: 3rem;
}

@media (max-width: 950px) {
    .dropdown.open {
        max-height: 22rem;
    }
}
@media (max-width: 800px) {
    .dropdown.open {
        max-height: 26rem;
    }
}
@media (max-width: 500px) {
    .dropdown.open {
        max-height: 40rem;
    }
}