
/* Overwrite */
#main {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 90%;
    background-image: url("imgs/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}

/* Dropdowns */
.dropdown {
    overflow: hidden;
    border-radius: 2rem;
    margin: 1rem auto;
    width: 90%;
    height: auto;
    max-height: 3rem;
    background-color: #eee;
    color: #444;
    transition: max-height 0.5s ease-in-out;
}
.dropdown.open {
    max-height: 20rem;
    transition: max-height 1s;
}
.dropdown:hover {
    background-color: #ccc;
}

/* Clicker */
.clicker {
    display: block;
    margin: 1rem auto;
    border: inherit;
    width: 95%;
    transition: margin 1s;
    font-size: 1rem;
    line-height: 1rem;
    background: inherit;
}
.clicker .title {
    display: inline-block;
    border-radius: inherit;
    width: 70%;
    text-align: left;
}
.clicker .icons {
    float: right;
    width: 30%;
    text-align: right;
}

/* Icons */
.dropdown .fa-plus-square{
    display: unset;
}
.dropdown .fa-minus-square {
    display: none;
}
.dropdown.open .fa-plus-square{
    display: none;
}
.dropdown.open .fa-minus-square {
    display: unset;
}

/* Contents */
.contents {
    padding: 2rem;
    list-style: none;
}

