
/* Overwrite */
#main {
    background-image: url("imgs/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    display: flex;
    flex-direction: column;
}

/* Dropdowns */
.dropdown {
    border-radius: 3rem;
    margin: 0 auto;
    width: 90%;
    background-color: #eee;
    color: #444;
    transition: 0.4s;
}
.dropdown:hover {
    background-color: #ccc;
}

/* Clicker */
.clicker {
    display: block;
    margin: 0 auto;
    border: inherit;
    width: 95%;
    font-size: 1rem;
    background: inherit;
}
.clicker .title {
    display: inline-block;
    border-radius: inherit;
    width: 50%;
    text-align: left;
}
.clicker .icons {
    float: right;
    width: 50%;
    text-align: right;
}