
#contact .carousel-caption img {
    width: 10rem;
}

#contact .carousel-caption {
    position: static;
    color: black;
}

#contact .carousel-control-prev, 
#contact .carousel-control-next {
    filter: invert(1);
    opacity: 1;
}

#contact .carousel-indicators li {
    background-color: black;
}

#contact .carousel-indicators {
    position: static;
}