
// C#
$csharp-primary: #ffff;
$csharp-secondary: #ffff;

// VB
$vb-primary: #ffff;
$vb-secondary: #ffff;

// Javascript
$js-primary: #ffff;
$js-secondary: #ffff;

// Java
$java-primary: #ffff;
$java-secondary: #ffff;

// Kotlin
$kotlin-primary: #ffff;
$kotlin-secondary: #ffff;

// Python
$python-primary: #ffff;
$python-secondary: #ffff;

// HTML
$html-primary: #ffff;
$html-secondary: #ffff;

// CSS
$css-primary: #ffff;
$css-secondary: #ffff;

// Powershell
$ps-primary: #ffff;
$ps-secondary: #ffff;

// Bash
$bash-primary: #ffff;
$bash-secondary: #ffff;
