
// SQL
$sql-primary: #ffff;
$sql-secondary: #ffff;

// Cosmos
$cosmos-primary: #ffff;
$cosmos-secondary: #ffff;

// Postgres
$postgres-primary: #ffff;
$postgres-secondary: #ffff;

// SQLite
$sqlite-primary: #ffff;
$sqlite-secondary: #ffff;
