
// Nuget
$nuget-primary: #ffff;
$nuget-secondary: #ffff;

// NPM
$npm-primary: #ffff;
$npm-secondary: #ffff;

// PIP
$pip-primary: #ffff;
$pip-secondary: #ffff;

// Maven
$mave-primary: #ffff;
$maven-secondary: #ffff;

// Graddle
$graddle-primary: #ffff;
$graddle-secondary: #ffff;
