
// WPF
$wpf-primary: #ffff;
$wpf-secondary: #ffff;

// Xamarin
$xamarin-primary: #ffff;
$xamarin-secondary: #ffff;

// Unity
$unity-primary: #ffff;
$unity-secondary: #ffff;

// Entity framework
$ef-primary: #ffff;
$ef-secondary: #ffff;

// Dapper
$dapper-primary: #ffff;
$dapper-secondary: #ffff;

// Node
$node-primary: #ffff;
$node-secondary: #ffff;

// React
$react-primary: #ffff;
$react-secondary: #ffff;

// Vue
$vue-primary: #ffff;
$vue-secondary: #ffff;

// Angular
$angular-primary: #ffff;
$angular-secondary: #ffff;

// JavaFX
$javafx-primary: #ffff;
$javafx-secondary: #ffff;

// Android
$android-primary: #ffff;
$android-secondary: #ffff;

// Jetpack
$jetpack-primary: #ffff;
$jetpack-secondary: #ffff;

// Flask
$flask-primary: #ffff;
$flask-secondary: #ffff;

// Django
$django-primary: #ffff;
$django-secondary: #ffff;

// Bootstrap
$bootstrap-primary: #ffff;
$bootstrap-secondary: #ffff;
