
// Docker
$docker-primary: #ffff;
$docker-secondary: #ffff;

// Visual studio
$vs-primary: #ffff;
$vs-secondary: #ffff;

// VS code
$vsc-primary: #ffff;
$vsc-secondary: #ffff;

// Postman
$postman-primary: #ffff;
$postman-secondary: #ffff;

// Azure data studio
$ads-primary: #ffff;
$ads-secondary: #ffff;

// SQL server managment studio
$ssms-primary: #ffff;
$ssms-secondary: #ffff;

// Solidworks
$solidworks-primary: #ffff;
$solidworks-secondary: #ffff;

// CREO
$creo-primary: #ffff;
$creo-secondary: #ffff;

// Thingworx
$twx-primary: #ffff;
$twx-secondary: #ffff;
