
// Git
$git-primary: #ffff;
$git-secondary: #ffff;

// GitHub
$github-primary: #ffff;
$github-secondary: #ffff;

// GitLab
$gitlab-primary: #ffff;
$gitlab-secondary: #ffff;

// Azure DevOps
$ado-primary: #ffff;
$ado-secondary: #ffff;

// BitBucket
$bitbucket-primary: #ffff;
$bitbucket-secondary: #ffff;
