
/* Footer Top */
.footer-top {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 0 5%;
    background-color: #1c2331;
}
.footer-cell {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}
.footer-cell h6 {
    border-bottom: solid 0.125rem #7c4dff;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}
.footer-crumbs {
    color: white;
    list-style: none;
}
.footer-crumbs li {
    margin: 0.5rem auto;
}
.footer-crumbs a {
    color: white;
    text-decoration: none;
}
.footer-crumbs a:hover {
    color: #91B6FF;
}
.footer-icon {
    height: 1rem;
}

/* Footer Bottom */
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 5rem;
    background-color: #161c27;
    color: white;
}
.footer-bottom  blockquote {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.footer-bottom  p {
    margin-top: 1rem;
    text-align: center;
    font-family: EagleLake-Regular;
    font-size: 1.20rem;
    letter-spacing: 1px;
}
.footer-bottom cite {
    text-align: center;
    font-size: 1rem;
}
.footer-bottom > p {
    margin: 1rem auto;
    text-align: center;
    font-family: unset;
    font-size: 1rem;
}

/* Responsive */
@media (max-width: 650px) {

    .footer-top {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: auto auto;
    }

}

/* Responsive */
@media (max-width: 520px) {

    .footer-top {
        display: grid;
        grid-template-columns: 100%;
        grid-template-columns: auto;
    }
    .footer-top h6 {
        text-align: center;
    }
   .footer-crumbs {
        text-align: center;
    }

}