
/********* JS utility *********/

.hidden-content {
    display: none;
}

/********* body *********/

body {
	padding-top: 3.5rem;
}

/********* navbar *********/

nav a:hover {
    cursor: pointer;
}

/********* footer *********/

footer {
    background-color: #343a40;
    color: white;
}

footer img {
    height: 1rem;
}

footer a {
    display: inline-block;
}

/********* Media rules *********/

@media (min-width: 600px) {
    footer blockquote {
        text-align: left;
        text-indent:  3rem;
    }
    #profile {
        text-align: left;
    }
}