
/* Main */
#main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

/* Containers */
.container {
    overflow: hidden;
    transition: width 1s;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.container.hidden {
    width: 0;
}
.container.fullsize {
    width: 100%;
}

/* Colors */
.container:nth-of-type(1) {
    background-color: #244f75;
}
.container:nth-of-type(2) {
    background-color: #68c2c2;
}
.container:nth-of-type(3) {
    background-color: #f8be4d;
}
.container:nth-of-type(4) {
    background-color: #f35454;
}

/* Strips */
.strip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    transition: background-size 0.5s linear;
    background-image: url("imgs/strip.png");
    background-position: center;
    background-size: 100% 100%;
}
.container:not(.fullsize) .strip:hover {
    background-size: 200% 200%;
}
.strip h2 {
    padding: 2rem 0;
    color: white;
    font-family: Domine-Regular;
}
.strip img {
    width: 10rem;
    margin: 0 auto;
}

/* Titles */
.title {
    height: 45%;
}

/* Contents */
.contents {
    display: grid;
    grid-template-columns: repeat(5,16%);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 5%;
	justify-items: center;
	align-items: center;
    overflow: hidden;
	margin: 0 5%;
	height: 0;
	transition: 1s;
	font-family: RobotoMono-Regular;
}
.contents.show {
    height: 55%;
}

/* Boxes */
.box {
	perspective: 500px;
	display: inline-block;
	height: 10rem;
	width: 10rem;
	background-color: transparent;
}

/* Flippers */
.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    height: 100%;
    width: 10rem;
    text-align: center;
    background-color: transparent;
}
.box:hover .flipper, .box:active .flipper {
    transform: rotateX(180deg);
}
.front {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.front img {
    width: 100%;
    text-align: center;
}
.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.back img {
    width: 3rem;
}

/* Responsive */
@media (max-width: 850px) {

    /* Contents */
    .contents {
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(3,auto);
        grid-column-gap: 0;
        margin: 0;
        height: 0;
    }

}
@media (max-width: 650px) {

    /* Overwrite */
    #main {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }

    /* Containers */
    .container {
        height: 25%;
        width: 100%;
        transition: height 1s;
        text-align: center;
        cursor: pointer;
    }
    .container.hidden {
        width: 100%;
        height: 0;
    }
    .container.fullsize {
        width: 100%;
        height: 100%;
    }

    /* Titles */
    .title {
        width: 100%;
        height: 100%;
        transition: 1s;
    }
    .container.fullsize .title {
        height: 25%;
    }
    .title h2 {
        display: inline;
        padding: 0 2rem;
    }
    .title img {   
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: inline;
    }
    /* Contents */
    .contents {
        display: grid;
        grid-template-columns: repeat(4,33%);
        grid-template-rows: repeat(3,auto);
        grid-column-gap: 0;
        margin: 0 1.5%;
        height: 0;
    }

}
@media (max-width: 550px) {

    /* Overwrite */
    #main {
        height: 1500px;
    }

    /* Contents */
    .contents {
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: auto;
        grid-column-gap: 0;
        margin: 0;
        height: 0;
    }

}