
// Clouds
$azure-primary: #ffff;
$azure-secondary: #ffff;
$aws-primary: #ffff;
$aws-secondary: #ffff;
$gcp-primary: #ffff;
$gcp-secondary: #ffff;

// Codes
$csharp-primary: #ffff;
$csharp-secondary: #ffff;
$vb-primary: #ffff;
$vb-secondary: #ffff;
$js-primary: #ffff;
$js-secondary: #ffff;
$java-primary: #ffff;
$java-secondary: #ffff;
$kotlin-primary: #ffff;
$kotlin-secondary: #ffff;
$python-primary: #ffff;
$python-secondary: #ffff;
$html-primary: #ffff;
$html-secondary: #ffff;
$css-primary: #ffff;
$css-secondary: #ffff;
$ps-primary: #ffff;
$ps-secondary: #ffff;
$bash-primary: #ffff;
$bash-secondary: #ffff;

// Databases
$sql-primary: #ffff;
$sql-secondary: #ffff;
$cosmos-primary: #ffff;
$cosmos-secondary: #ffff;
$postgres-primary: #ffff;
$postgres-secondary: #ffff;
$sqlite-primary: #ffff;
$sqlite-secondary: #ffff;

// Feeds
$nuget-primary: #ffff;
$nuget-secondary: #ffff;
$npm-primary: #ffff;
$npm-secondary: #ffff;
$pip-primary: #ffff;
$pip-secondary: #ffff;
$mave-primary: #ffff;
$maven-secondary: #ffff;
$graddle-primary: #ffff;
$graddle-secondary: #ffff;

// Frameworks
$wpf-primary: #ffff;
$wpf-secondary: #ffff;
$xamarin-primary: #ffff;
$xamarin-secondary: #ffff;
$unity-primary: #ffff;
$unity-secondary: #ffff;
$ef-primary: #ffff;
$ef-secondary: #ffff;
$dapper-primary: #ffff;
$dapper-secondary: #ffff;
$node-primary: #ffff;
$node-secondary: #ffff;
$react-primary: #ffff;
$react-secondary: #ffff;
$vue-primary: #ffff;
$vue-secondary: #ffff;
$angular-primary: #ffff;
$angular-secondary: #ffff;
$javafx-primary: #ffff;
$javafx-secondary: #ffff;
$android-primary: #ffff;
$android-secondary: #ffff;
$jetpack-primary: #ffff;
$jetpack-secondary: #ffff;
$flask-primary: #ffff;
$flask-secondary: #ffff;
$django-primary: #ffff;
$django-secondary: #ffff;
$bootstrap-primary: #ffff;
$bootstrap-secondary: #ffff;

// Softwares
$docker-primary: #ffff;
$docker-secondary: #ffff;
$vs-primary: #ffff;
$vs-secondary: #ffff;
$vsc-primary: #ffff;
$vsc-secondary: #ffff;
$postman-primary: #ffff;
$postman-secondary: #ffff;
$ads-primary: #ffff;
$ads-secondary: #ffff;
$ssms-primary: #ffff;
$ssms-secondary: #ffff;
$solidworks-primary: #ffff;
$solidworks-secondary: #ffff;
$creo-primary: #ffff;
$creo-secondary: #ffff;
$twx-primary: #ffff;
$twx-secondary: #ffff;

// VCCs
$git-primary: #ffff;
$git-secondary: #ffff;
$github-primary: #ffff;
$github-secondary: #ffff;
$gitlab-primary: #ffff;
$gitlab-secondary: #ffff;
$ado-primary: #ffff;
$ado-secondary: #ffff;
$bitbucket-primary: #ffff;
$bitbucket-secondary: #ffff;
