
/* Overwrite */
#main {
    height: auto;
}

/* Backgrounds */
.background {
    position: relative;
    height: 60rem;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.title {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    width: 100%;
    color: rgba(208, 235, 242, 1);
    background-color: RGBA(38, 29, 30, 1);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/* Content */
.content {
    height: auto;
    padding: 1rem 3rem;
    background-color: rgba(242, 215, 208, 0.5);
}
.content h2 {
    color: RGBA(38, 37, 36, 1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: unset;
}
.content p {
    color: RGBA(115, 115, 115, 1);
    text-align: justify;
    letter-spacing: 0.2rem;
}

/* Backgrounds */
.image1 {
    background-image: url("imgs/background1.jpg");
}
.image2 {
    background-image: url("imgs/background2.jpg");
}
.image3 {
    background-image: url("imgs/background3.jpg");
}
.image4 {
    background-image: url("imgs/background4.jpg");
}