
/* #profile */

#profile {
    text-align: center;
}

#profile img {
    border-radius: 50%;
}

#profile .jumbotron {
    margin-bottom: 0;
}

#profile .title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}