
/* Override */
html, body {

    /* Size */
    height: 100%;

}
#main {

    /* Size */
    height: 100%;
    width: 100%;

    /* Appearance */
    background-image: url("../imgs/career/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;

    /* Display */
    display: flex;
    flex-direction: column;

}


/* Dropdowns */
.dropdown {

    /* Size */
    width: auto;
    margin: 1rem 2rem;
    padding: 1rem 5%;

    /* Appearance */
    background-color: #eee;
    border-radius: 3rem;
    color: #444;
    text-align: left;
    border: none;
    outline: none;

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Behaviour */
    cursor: pointer;
    transition: 0.4s;

}
.dropdown:hover {

    /* Appearance */
    background-color: #ccc;
    
}
.icons {

    /* Display */
    display: inline;

}
.icons > i {

    /* Display */
    display: none;   

}
.icons > i.on {

    /* Display */
    display: inline;

}

/* Sections */
.section {

    /* Size */
    width: 100%;
    height: 0;

    /* Appearance */
    background-color: white;

    /* Behaviour */
    overflow: hidden;
    transition: height 0.4s;

}
.active {

    /* Size */
    height: 150px;

}

    /* Size */
    /* Appearance */
    /* Position */
    /* Display */
    /* Behaviour */

/* Flippers */
.content {

    /* Size */
    height: 80%;
    width: auto;
    margin: 0 1rem;

    /* Position */
    display: inline-block;
    
    /* Appearance */
    background-color: white;

    /* Position */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.flipper {

    /* Size */
    height: 100%;
    width: 100%;

}
.content:hover .flipper {

}
.front {

}
.behind {

}
.flipper img {

    /* Size */
    width: 2rem;
    height: 2rem;



}

/* Backgrounds */
.education {
    background-image: url("../imgs/career/section1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}
.languages {
    background-image: url("../imgs/career/section2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}
.coding {
    background-image: url("../imgs/career/section3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}
.software {
    background-image: url("../imgs/career/section4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}