    /* Size */
    /* Appearance */
    /* Position */
    /* Display */
    /* Behaviour */
nav {

    /* Size */
    width: 100%;

    /* Position */
    position: fixed;
    z-index: 900;
}
#main {

    /* Position */
    position: relative;
    top: 40px;
    
}

.envelope {

    /* Position */
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 800;
    transform: translate(-50%,-50%);

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content {

    /* Size */
    width: 20rem;
    height: 6rem;
    padding: 2rem;

    /* Appearance */
    background-color: violet;
    overflow: hidden;

    /* Position */
    z-index: 700;

}
.bullets {

    /* Size */
    margin: 0 auto;

    /* Appearance */
    list-style: none;
    background: red;

    /* Position */
    position: static;
    z-index: 600;

    /* Display */
    display: flex;
    flex-direction: row;

}
.bullet {

    /* Size */
    width: 10px;
    height: 10px;
    margin: 5px;

    /* Appearance */
    border: solid 1.5px white;
    border-radius: 100%;
    cursor: pointer;

}
.active {

    /* Appearance */
    background-color: white;

}
.inactive {

    /* Appearance */
    background-color: transparent;

}
.wrapper {

    /* Size */
    width: 24rem;
    height: 10rem;
    padding: 3.5rem;

    /* Appearance */
    background-color: blue;

    /* Position */
    position: absolute;
    transform: translateY(-20%);
    z-index: 500;

}


@media (max-width: 750px) {
    

}