/* Everything */
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: EagleLake-Regular;
    src: url("../fonts/EagleLake-Regular.ttf");
}

/* Body */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Navigation bar */
body > nav {

    /* Sizing */
    padding: 0.5rem 1rem;

    /* Appearance */
    background-color: #343a40;

    /* Dinamic */

    /* Flexbox */
    display: flex;
    flex-direction: row;

}
body > nav > a {

    /* Sizing */
    margin: 0 1rem;

    /* Appearance */
    font-size: 1.25rem;

}
body > nav > ul {

    /* Appearance */
    list-style: none;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex: 1;
    
}
body > nav a {

    /* Appearance */
    color: #fff;
    text-decoration: none;
    
    /* Dinamic */
    vertical-align: middle;

}
body > nav > ul li {

    /* Sizing */
    margin: 0 1rem;

}

/* Footer */
body > footer > div:first-child {

    /* Sizing */
    padding: 0 5rem;

    /* Appearance */
    background-color: #1c2331;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
body > footer > div:first-child > div {

    /* Sizing */
    padding: 0.5rem 1rem;

    /* Flexbox */
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}
body > footer > div:first-child h6 {

    /* Appearance */
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: solid 0.125rem #7c4dff;

}
body > footer > div:first-child ul {

    /* Appearance */
    list-style: none;
    color: white;
    
}
body > footer > div:first-child ul li {

    /* Sizing */
    margin: 0.5rem auto;

}
body > footer > div:first-child ul li a {
    
    /* Appearance */
    color: white;
    text-decoration: none;

}
body > footer > div:last-child {

    /* Sizing */
    padding: 0 5rem;

    /* Appearance */
    background-color: #161c27;
    color: white;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
body > footer > div:last-child > blockquote {

    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
body > footer > div:last-child > blockquote > p {

    /* Sizing */
    margin-top: 1rem;

    /* Appearance */
    text-align: center;
    font-family: EagleLake-Regular;
    font-size: 1.20rem;
    letter-spacing: 1px;

}
body > footer > div:last-child > blockquote > cite {

    /* Appearance */
    text-align: center;
    font-size: 1rem;

}
body > footer > div:last-child > p {

    /* Sizing */
    margin: 1rem auto;

    /* Appearance */
    text-align: center;
    font-size: 1rem;

}