
/* Everything */
* {

    /* Size */
    margin: 0;
    padding: 0;

}
@font-face {
    font-family: EagleLake-Regular;
    src: url("../fonts/EagleLake-Regular.ttf");
}
@font-face {
    font-family: LibreBaskerville-Regular;
    src: url("../fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}
/* Body */
body {

    /* Appearance */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

/* Navigation bar */
body > nav {

    /* Size */
    height: 2.5rem;

    /* Appearance */
    background-color: #343a40;

    /* Display */
    display: flex;
    flex-direction: row;

}
.NavLeft {

    /* Size */
    height: 100%;

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.NavLeft > a {

    /* Size */
    height: 100%;
    padding: 0 1rem;

    /* Appearance */
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;

}
.NavLeft > a > p {

    /* Position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.NavLeft > button {

    /* Size */
    width: 2rem;
    margin: .25rem 1rem;

    /* Appearance */
    font-size: 1rem;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    border: solid 1px rgba(255,255,255,.1);
    border-radius: .25rem;

    /* Display */
    display: none;

}
.NavLeft > button:hover {

    /* Appearance */
    background-color: rgba(255,255,255,.2);

}
.NavRight {

    /* Size */
    height: 100%;

    /* Display */
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.NavRight > a {

    /* Size */
    height: 100%;
    padding: 0 1rem;

    /* Appearance */
    color: #fff;
    text-decoration: none;

}
.NavRight > a:hover {

    /* Appearance */
    background-color: rgba(255,255,255,.2);

}
.NavRight > a > p {

    /* Position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
@media (max-width: 800px) {
    body > nav {

        /* Size */
        height: auto;

        /* Display */
        display: block;

    }
    .NavLeft {

        /* Size */
        height: 100%;
        width: 100%;

    }
    .NavLeft > a {

        /* Size */
        height: 2.5rem;
        padding: 0 1rem;
    
    }
    .NavLeft > button {

        /* Display */
        display: inline;

    }
    .NavRight.collapsed {

        /* Display */
        display: none;
        
    }
    .NavRight.uncollapsed {

        /* Display */
        display: flex;
        flex-direction: column;

    }
    .NavRight.uncollapsed > a {

        /* Size */
        height: inherit;
        padding: 0.25rem 1rem;
    
    }
    .NavRight.uncollapsed > a > p {

        /* Position */
        position: static;
        transform: none;
        
    }
}

/* Footer */
.FooterTop {

    /* Size */
    padding: 0 5%;

    /* Appearance */
    background-color: #1c2331;

    /* Display */
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
.FooterTop > div {

    /* Size */
    padding: 0.5rem 1rem;

    /* Display */
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}
.FooterTop > div > h6 {

    /* Appearance */
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: solid 0.125rem #7c4dff;

}
.FooterTop > div > ul {

    /* Appearance */
    list-style: none;
    color: white;
    
}
.FooterTop > div > ul > li {

    /* Size */
    margin: 0.5rem auto;

}
.FooterTop > div > ul > li > a {
    
    /* Appearance */
    color: white;
    text-decoration: none;

}
.FooterTop > div > ul > li > a:hover {
    
    /* Appearance */
    color: #91B6FF;

}
.FooterBottom {

    /* Size */
    padding: 0 5rem;

    /* Appearance */
    background-color: #161c27;
    color: white;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.FooterBottom > blockquote {

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.FooterBottom > blockquote > p {

    /* Size */
    margin-top: 1rem;

    /* Appearance */
    text-align: center;
    font-family: EagleLake-Regular;
    font-size: 1.20rem;
    letter-spacing: 1px;

}
.FooterBottom > blockquote > cite {

    /* Appearance */
    text-align: center;
    font-size: 1rem;

}
.FooterBottom > p {

    /* Size */
    margin: 1rem auto;

    /* Appearance */
    text-align: center;
    font-size: 1rem;

}
@media (max-width: 650px) {
    body > footer > div:first-child {

        /* Display */
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: auto auto;

    }
}
@media (max-width: 520px) {
    body > footer > div:first-child {

        /* Display */
        display: grid;
        grid-template-columns: 100%;
        grid-template-columns: auto;

    }
    body > footer > div:first-child > div > h6 {

        /* Appearance */
        text-align: center;

    }
    body > footer > div:first-child > div > ul {

        /* Appearance */
        text-align: center;
        
    }
}