footer, footer a {
    color: white;
}
footer > div:nth-child(1) {
    background-color: #1c2331;
}
footer > div:nth-child(2) {
    background-color: #161c27;
}
footer hr {
    background-color: #7c4dff;
}
