
#main {

    /* Appearance */
    background-image: url("../imgs/TimeLineBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.smallGridRow {

    /* Size */
    width: 100%;

    /* Behaviour */
    display: grid;
    grid-template-columns: [LLL] 5% [L] 45% [CL CR] 45% [R] 5% [RRR];

}
.mediumGridRow {

    /* Size */
    width: 100%;

    /* Behaviour */
    display: grid;
    grid-template-columns: [LLL] 5% [L] 30% [CL] 30% [CR] 30% [R] 5% [RRR];

}
.LeftContent {

    /* Size */
    padding: 1.5rem 0;

    /* Behaviour */
    text-align: right;
    grid-column-start: L;
    grid-column-end: CL;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.CenterContent {

    /* Size */
    padding: 1.5rem 0;

    /* Behaviour */
    text-align: center;
    grid-column-start: CL;
    grid-column-end: CR;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.CenterContent img {

    /* Size */
    width: 200px;

    /* Appearance */
    border-radius: 50%;
    
}
.RightContent {

    /* Size */
    padding: 1.5rem 0;

    /* Behaviour */
    text-align: left;
    grid-column-start: CR;
    grid-column-end: R;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.visibleRow {
    
    /* Appearance */
    opacity: 1;

    /* Behaviour */
    transition: opacity 1s linear;

}
.hiddenRow {

    /* Appearance */
    opacity: 0;

    /* Behaviour */
    transition: opacity 1s linear;
    
}
#scroller {

    /* Appearance */
    text-align: center;

    /* Behaviour */
    position: fixed;
    z-index: 999;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 3rem;
    display: flex;
    flex-direction: column;

}
#scroller button {

    /* Appearance */
    background-color: transparent;
    border: none;

}
#scroller i {

    /* Appearance */
    font-size: 2rem;

}

#main > div:first-child img {

    /* Size */
    width: 200px;

    /* Appearance */
    border-radius: 50%;

}