    /* Size */
    /* Appearance */
    /* Position */
    /* Display */
    /* Behaviour */
#main {

    /* Appearance */
    background-image: url("../imgs/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.mediumGridRow {

    /* Size */
    width: 100%;

    /* Display */
    display: grid;
    grid-template-columns: [LLL] 5% [L] 40% [CL] 10% [CR] 40% [R] 5% [RRR];
    grid-template-rows: auto;

}

.LeftContent {

    /* Size */
    padding: 1.5rem 0;

    /* Appearance */
    text-align: right;

    /* Display */
    grid-column-start: L;
    grid-column-end: CL;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
.LeftContent p {

    /* Size */
    width: 50%;
    margin-right: 2rem;
    
    /* Appearance */
    text-align: center;
    font-family: LibreBaskerville-Regular;

}
.LeftContent .month {

    /* Size */
    margin-right: 1rem;
    padding-right: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(217, 126, 74, 0.4);
    border-right: solid 2px black;
    box-shadow: 5px 0 0 #A5941E;

}
.LeftContent .year {

    /* Size */
    margin-bottom: 1px;
    margin-right: 1rem;
    padding-right: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(116, 140, 28, 0.5);
    border-right: solid 2px black;
    box-shadow: 5px 0 0 #786900;

}
.CenterContent {

    /* Size */
    padding: 1.5rem 0;

    /* Appearance */
    background-image: url(../imgs/tree-trunk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    /* Display */
    grid-column-start: CL;
    grid-column-end: CR;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.CenterContent img {

    /* Size */
    width: 90%;
    margin: 0 auto;

}
.CenterContent img.circle {

    /* Appearance */
    border-radius: 50%;

}
.CenterContent img.square {

    /* Appearance */
    border-radius: 25%;

}
.RightContent {

    /* Size */
    padding: 1.5rem 0;

    /* Appearance */
    text-align: left;

    /* Behaviour */
    grid-column-start: CR;
    grid-column-end: R;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.RightContent p {

    /* Size */
    width: 50%;
    margin-left: 2rem;

    /* Appearance */
    text-align: center;
    font-family: LibreBaskerville-Regular;

}
.RightContent .month {

    /* Size */
    margin-left: 1rem;
    padding-left: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(217, 126, 74, 0.4);
    border-left: solid 2px black;
    box-shadow: -5px 0 0 #A5941E;

}
.RightContent .year {

    /* Size */
    margin-bottom: 1px;
    margin-left: 1rem;
    padding-left: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(116, 140, 28, 0.5);
    border-left: solid 2px black;
    box-shadow: -5px 0 0 #786900;

}

.visible {
    
    /* Appearance */
    opacity: 1;

    /* Behaviour */
    transition: opacity 1s linear;

}
.hidden {

    /* Appearance */
    opacity: 0;

    /* Behaviour */
    transition: opacity 1s linear;
    
}

.leaves1 {

    /* Appearance */
    background-image: url(../imgs/leaves1.png);
    background-size: auto 100%;

}
.leaves2 {

    /* Appearance */
    background-image: url(../imgs/leaves2.png);
    background-size: auto 100%;
    
}
.leaves3 {

    /* Appearance */
    background-image: url(../imgs/leaves3.png);
    background-size: auto 100%;
    
}

#scroller {

    /* Position */
    position: fixed;
    z-index: 999;
    top: 60%;
    transform: translate(-50%,-50%);
    right: 3rem;
    /* Appearance */
    text-align: center;

    /* Behaviour */
    display: flex;
    flex-direction: column;

}
#scroller button {

    /* Appearance */
    background-color: transparent;
    border: none;

}
#scroller i {

    /* Appearance */
    font-size: 2rem;

}
#scroller .month {

    /* Size */
    width: 5.5rem;

}

.header .LeftContent {

    /* Appearance */
    background-image: url("../imgs/tree-top-left.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.header .RightContent {

    /* Appearance */
    background-image: url("../imgs/tree-top-right.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.header img {

    /* Size */
    margin-right: 10%;
    width: 35%;

    /* Appearance */
    border-radius: 50%;
    box-shadow: 5px 10px 10px  black;

}
.header h1 {

    /* Size */
    margin-left: 1rem;
    width: 100%;

    /* Appearance */
    font-size: 2.5rem;
    font-family: LibreBaskerville-Regular;
    background-color: RGBA(115, 55, 41, 0.8);
    border-left: solid 2px black;
    box-shadow: -10px 0 0 #053C05;

}
.header h3 {

    /* Size */
    margin-left: 1rem;
    width: 100%;

    /* Appearance */
    font-size: 2rem;
    font-family: LibreBaskerville-Regular;
    background-color: RGBA(115, 55, 41, 0.7);
    border-left: solid 2px black;
    box-shadow: -10px 0 0 #905515;

}
.header h6 {

    /* Size */
    margin-left: 1rem;
    width: 100%;

    /* Appearance */
    font-size: 2rem;
    font-family: LibreBaskerville-Regular;
    background-color: RGBA(115, 55, 41, 0.6);
    border-left: solid 2px black;
    box-shadow: -10px 0 0 #AC8F3D;

}

@media (max-width: 800px) {

    .mediumGridRow {
    
        /* Display */
        grid-template-columns: [LLL] 5% [TL] 20% [TR] 35% [R] 35% [RR] 5% [RRR];
        grid-template-rows: auto;

    }

    .LeftContent {

        /* Appearance */
        background-image: none;
        text-align: center;

        /* Display */
        grid-column-start: TR;
        grid-column-end: RR;
        grid-row-start: 1;
        grid-row-end: 2;
        align-items: center;

    }
    .LeftContent p {

        /* Size */
        margin: 0;
        width: 90%;

    }
    .LeftContent .year {

        /* Size */
        margin: 0;
        width: 80%;

        /* Appearance */
        border-right: none;
        background-color: RGBA(116, 140, 28, 0.5);
        border-left: solid 2px black;
        box-shadow: -5px 0 0 #786900;

    }
    .LeftContent .month {

        /* Size */
        margin: 0;
        width: 80%;

        /* Appearance */
        border-right: none;
        background-color: RGBA(217, 126, 74, 0.4);
        border-left: solid 2px black;
        box-shadow: -5px 0 0 #A5941E;

    }
    .CenterContent {
    
        /* Display */
        grid-column-start: TL;
        grid-column-end: TR;
        grid-row-start: 1;
        grid-row-end: 3;

    }
    .RightContent {

        /* Appearance */
        background-image: none;
        text-align: center;

        /* Display */
        grid-column-start: TR;
        grid-column-end: RR;
        grid-row-start: 2;
        grid-row-end: 3;
        align-items: center;

    }
    .RightContent p {

        /* Size */
        margin: 0;
        width: 90%;
        

    }
    .RightContent .year {

        /* Size */
        margin: 0;
        width: 80%;

        /* Display */
        border-right: none;
        background-color: RGBA(116, 140, 28, 0.5);
        border-left: solid 2px black;
        box-shadow: -5px 0 0 #786900;

    }
    .RightContent .month {

        /* Size */
        margin: 0;
        width: 80%;

        /* Display */
        border-right: none;
        background-color: RGBA(217, 126, 74, 0.4);
        border-left: solid 2px black;
        box-shadow: -5px 0 0 #A5941E;

    }

    #scroller {

        /* Display */
        display: none;

    }

    .header .LeftContent {

        /* Position */
        z-index: 1;

        /* Appearance */
        background-image: none;

        /* Display */
        grid-column-start: TL;
        grid-column-end: TR;
        grid-row-start: 1;
        grid-row-end: 3;

    }
    .header .RightContent {
    
        /* Appearance */
        background-image: none;
    
    }
    .header img {
    
        /* Size */
        width: 90%;
        margin: 0 auto;

    }
    .header h1 {
    
        /* Size */
        width: 80%;
        
    }
    .header h3 {
    
        /* Size */
        width: 80%;

    }
    .header h6 {
    
        /* Size */
        width: 80%;

    }
    
}

@media (max-width: 500px) {

    .mediumGridRow {
    
        /* Display */
        grid-template-columns: [LLL] 5% [TL] 30% [TR] 30% [R] 30% [RR] 5% [RRR];
        grid-template-rows: auto;

    }

    .header h1 {
    
        /* Appearance */
        font-size: 2rem;
        
    }
    .header h3 {
    
        /* Appearance */
        font-size: 1.5rem;

    }
    .header h6 {
    
        /* Appearance */
        font-size: 1.5rem;

    }

}