
#main {

    /* Appearance */
    background-image: url("../imgs/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.smallGridRow {

    /* Size */
    width: 100%;

    /* Behaviour */
    display: grid;
    grid-template-columns: [LLL] 5% [L] 45% [CL CR] 45% [R] 5% [RRR];

}
.mediumGridRow {

    /* Size */
    width: 100%;

    /* Behaviour */
    display: grid;
    grid-template-columns: [LLL] 5% [L] 40% [CL] 10% [CR] 40% [R] 5% [RRR];

}
.LeftContent {

    /* Size */
    padding: 1.5rem 0;

    /* Behaviour */
    text-align: right;
    grid-column-start: L;
    grid-column-end: CL;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
.LeftContent .year {

    /* Size */
    margin-bottom: 1px;
    margin-right: 1rem;
    padding-right: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(116, 140, 28, 0.5);
    border-right: solid 2px black;
    box-shadow: 5px 0 0 #786900;

}
.LeftContent .month {

    /* Size */
    margin-right: 1rem;
    padding-right: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(217, 126, 74, 0.4);
    border-right: solid 2px black;
    box-shadow: 5px 0 0 #A5941E;

}
.LeftContent p {

    /* Size */
    width: 50%;
    margin-right: 2rem;
    
    /* Appearance */
    text-align: center;
    font-family: LibreBaskerville-Regular;

}
.CenterContent {

    /* Size */
    padding: 1.5rem 0;

    /* Appearance */
    background-image: url(../imgs/tree-trunk3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /* Behaviour */
    text-align: center;
    grid-column-start: CL;
    grid-column-end: CR;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
.CenterContent img {

    /* Size */
    width: 90%;
    margin: 0 auto;

}
.CenterContent img.circle {

    /* Appearance */
    border-radius: 50%;

}
.CenterContent img.square {

    /* Appearance */
    border-radius: 25%;

}
.RightContent {

    /* Size */
    padding: 1.5rem 0;

    /* Behaviour */
    text-align: left;
    grid-column-start: CR;
    grid-column-end: R;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.RightContent .year {

    /* Size */
    margin-bottom: 1px;
    margin-left: 1rem;
    padding-left: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(116, 140, 28, 0.5);
    border-left: solid 2px black;
    box-shadow: -5px 0 0 #786900;

}
.RightContent .month {

    /* Size */
    margin-left: 1rem;
    padding-left: 0.5rem;
    width: 20%;

    /* Appearance */
    font-family: Montserrat-Regular;
    background-color: RGBA(217, 126, 74, 0.4);
    border-left: solid 2px black;
    box-shadow: -5px 0 0 #A5941E;

}
.RightContent p {

    /* Size */
    width: 50%;
    margin-left: 2rem;

    /* Appearance */
    text-align: center;
    font-family: LibreBaskerville-Regular;

}
.visible {
    
    /* Appearance */
    opacity: 1;

    /* Behaviour */
    transition: opacity 1s linear;

}
.hidden {

    /* Appearance */
    opacity: 0;

    /* Behaviour */
    transition: opacity 1s linear;
    
}


.leaves1 {

    /* Appearance */
    background-image: url(../imgs/leaves1.png);
    background-size: auto 100%;

}
.leaves2 {

    /* Appearance */
    background-image: url(../imgs/leaves2.png);
    background-size: auto 100%;
    
}
.leaves3 {

    /* Appearance */
    background-image: url(../imgs/leaves3.png);
    background-size: auto 100%;
    
}

#scroller {

    /* Appearance */
    text-align: center;

    /* Behaviour */
    position: fixed;
    z-index: 999;
    top: 60%;
    transform: translate(-50%,-50%);
    right: 3rem;
    display: flex;
    flex-direction: column;

}
#scroller button {

    /* Appearance */
    background-color: transparent;
    border: none;

}
#scroller i {

    /* Appearance */
    font-size: 2rem;

}
#scroller .month {

    /* Size */
    width: 5.5rem;
    
}

.header .LeftContent {

    /* Appearance */
    background-image: url("../imgs/tree-top4.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotateY(180deg);
}
.header .RightContent {

    /* Appearance */
    background-image: url("../imgs/tree-top4.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.header img {

    /* Size */
    margin-right: 60%;
    width: 35%;

    /* Appearance */
    border-radius: 50%;
    transform: rotateY(180deg);
    box-shadow: 5px 10px 10px  black;

}
.header h1 {

    /* Size */
    margin-left: 1rem;
    width: 100%;

    /* Appearance */
    font-size: 2.5rem;
    font-family: LibreBaskerville-Regular;
    background-color: RGBA(115, 55, 41, 0.8);
    border-left: solid 2px black;
    box-shadow: -10px 0 0 #053C05;

}
.header h3 {

    /* Size */
    margin-left: 1rem;
    width: 100%;

    /* Appearance */
    font-size: 2rem;
    font-family: LibreBaskerville-Regular;
    background-color: RGBA(115, 55, 41, 0.7);
    border-left: solid 2px black;
    box-shadow: -10px 0 0 #905515;

}
.header h6 {

    /* Size */
    margin-left: 1rem;
    width: 100%;

    /* Appearance */
    font-size: 2rem;
    font-family: LibreBaskerville-Regular;
    background-color: RGBA(115, 55, 41, 0.6);
    border-left: solid 2px black;
    box-shadow: -10px 0 0 #AC8F3D;

}