
#main {
    display: grid;
    grid-template-columns: [LLL] 2.5% [LL] 30% [LR] 2.5% [CL] 30% [CR] 2.5% [RL] 30% [RR] 2.5% [RRR];
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
        "header header header header header header header"
        "  .      A      .      B      .      C      .   "
        "  .      D      .      E      .      F      .   ";
        background-image: url("../imgs/myself/background.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
}
.header {
    padding: 2rem 2.5%;
    text-align: center;
    grid-area: header;
    width: 95%;
}
.header h2 {
    font-family: Domine-Regular;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}
.header button {
    display: none;
}
.header p {
    font-family: RobotoMono-Regular;
}
.box {
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-image: url("../imgs/myself/triangle.png");
    background-size: 100% 0;
    background-repeat: no-repeat;
    background-position: top;
    transition: 0.5s ease-in-out;
}
.box:hover {
    background-size: 100% 210px;
}
.box div {
    margin: 1rem 0;
}
.box h3 {
    font-family: ComicNeue-Regular;
}
.box p {
    font-family: RobotoMono-Regular;
}
.box img {
    position: relative;
    bottom: 0;
    width: 6rem;
    margin: 0 auto;
}

/* Icons */
.boxing {
    grid-area: A;
}
.painting {
    grid-area: B;
}
.gym {
    grid-area: C;
}
.videogames {
    grid-area: D;
}
.reading {
    grid-area: E;
}
.baking {
    grid-area: F;
}

@media (max-width: 800px) {
    .header button {
        display: inline-block;
        background-color: rgba(0,0,0,0.5);
        border: none;
        border-radius: 30px;
        font-size: 14px;
        padding: 0.5rem 2rem;
        font-family: RobotoMono-Regular;
        margin: 1rem auto;
        cursor: pointer;
        transition: 0.5s;
    }
    .header button:hover, .header button:active {
        background-color: rgba(0,0,0,0.2);
    }
    .header p {
        transition: 1s ease-in-out;
        max-height: 0;
        opacity: 0;
    }
    .header p.show {
        max-height: 800px;
        opacity: 1;
    }
}
@media (max-width: 600px) {
    #main {
        grid-template-columns: [LLL] 2% [LL] 47% [LR] 2% [RL] 47% [RR] 2% [RRR];
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header header header header header"
            "  .      A      .      B      .   "
            "  .      C      .      D      .   "
            "  .      E      .      F      .   ";
            background-position-x: left;
    }
}