
.ContactPageSection .bi {
    font-size: 2.5rem;
}

.ContactPageSection .list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ContactPageSection {
    .list-group-item:nth-of-type(1) .bi {
        color: red;
    }
    .list-group-item:nth-of-type(2) .bi {
        color: green;
    }
    .list-group-item:nth-of-type(3) .bi {
        color: #006ec3;
    }
    .list-group-item:nth-of-type(4) .bi {
        color: blue;
    }
    .list-group-item:nth-of-type(5) .bi {
        color: black;
    }
}
